{% extends 'iteminfo/base.html' %}

{% block title %}
    Assignment List
{% endblock %}

{% block org_content %}
    <h2>Assignment List</h2>
        <div class="mobile">
            <a
                    href="{% url 'iteminfo_assignment_create_urlpattern' %}"
                    class="button button-primary">
                Create New Assignment</a>
        </div>
    <ul>
        {% for assignment in assignment_list %}
            <li>
                <a href="{{ assignment.get_absolute_url }}">
                    {{ assignment }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no assignments available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
