{% extends 'iteminfo/base.html' %}

{% block title %}
    Delete Assignment
{% endblock %}

{% block content %}
    <form
        action="{{ assignment.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            assignment {{ assignment }}?
        </p>
        <a href="{{ assignment.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Assignment</button>
    </form>
{% endblock %}
